<div class="popup-title">
    <b>{{TITLE}}</b><br/>
    <b>{{SUBTITLE}}</b>
</div>
<table id="attributesPopup">
    {{#attrs}}
        {{#is_text}}
        <tr>
            <td>{{text}}</td>
            <td>{{value}}</td>
        </tr>
        {{/is_text}}

        {{#is_link}}
        <tr>
            <td>Внешняя ссылка</td>
            <td><a href="javascript:window.open('{{value}}', '{{target}}', '{{params}}');">{{text}}</a></td>
        </tr>
        {{/is_link}}

        {{#is_img}}
        <tr>
            <td>{{text}}</td>
            <td>
                {{#ref}}<a href="javascript:window.open('{{ref}}', '{{target}}', '{{params}}');">{{/ref}}
                    <img src="{{src}}" name="{{text}}"/>
                {{#ref}}</a>{{/ref}}
            </td>
        </tr>
        {{/is_img}}
    {{/attrs}}
</table>