html.full-screen,
html.full-screen body,
html.full-screen #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#attributesPopup tr,
#attributesPopup td {
    padding: 3px;
}

#attributesPopup td {
    padding-bottom: 3px;
}

#attributesPopup td,
#attributesPopup td img {
    max-width: 200px !important;
    word-wrap: break-word;
}

#attributesPopup tr:nth-child(even) {
    background: #F2F2F2;
}

#attributesPopup tr:nth-child(odd) {
    background: #FFF;
}

#map {
    margin: 3px 0;
    width: 100%;
    height: 500px;
    position: relative;
}

#map p.loaded-status {
    color: gray;
}

#map.leaflet-container p.loaded-status {
    display: none;
}

/* rewrite css from materialize */
#map [type="radio"]:not(:checked), #map [type="radio"]:checked,
#map [type="checkbox"]:not(:checked), #map [type="checkbox"]:checked {
    visibility: visible;
    position: relative;
    left: 0;
}

#map label {
    color: #000000;
}

#map div.popup-title {
    font-size: 14px;
    margin-bottom: 6px;
    text-align: center;
    padding: 3px 0;
    background-color: #c9c9c9;
}

#map div.lang-selector {
    display: none;
}

#map.leaflet-container div.lang-selector {
    display: block;
}

#map div.lang-selector div.collapsed {
    display: block;
    width: 32px;
    height: 32px;
    background: url("background/languages-icon.png");
}
#map div.lang-selector div.opened {
    display: none;
}

#map div.lang-selector:hover div.collapsed {
    display: none;
}
#map div.lang-selector:hover div.opened {
    display: block;
    margin: 0;
    padding: 0;
}

#map div.lang-selector {
    position: absolute;
    z-index: 999999;
    top: 3px;
    right: 3px;
    border: 1px solid #c7c7c7;
    background-color: white;
    padding: 2px;
}

#map div.lang-selector a {
    display: block;
    padding: 3px;
    border: 1px solid #b5b5b5;
    margin: 3px;
    background-color: #f4f4f4;
    color: #818181;
    font-size: 12px;
}

#map div.lang-selector a.selected {
    background-color: #d5d5d5;
    color: #5d5d5d;
}

#map div.lang-selector a:hover {
    background-color: #d5d5d5;
}

