html.full-screen,
html.full-screen body,
html.full-screen #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#attributesPopup tr, #attributesPopup td {
    padding: 1px;
}

#attributesPopup td {
    max-width: 200px;
    word-wrap: break-word;
}

#map {
    margin: 3px 0;
    width: 100%;
    height: 500px;
    position: relative;
}

#map p.loaded-status {
    color: gray;
}

#map.leaflet-container p.loaded-status {
    display: none;
}

/* rewrite css from materialize */
#map [type="radio"]:not(:checked), #map [type="radio"]:checked,
#map [type="checkbox"]:not(:checked), #map [type="checkbox"]:checked {
    visibility: visible;
    position: relative;
    left: 0;
}

#map label {
    color: #000000;
}
